    header {
        background: #b176c0;
        padding: 20px 0;
    }
    
    .caixa {
        position: relative;
        width: 940px;
        margin: 0 auto;
    }
    
    nav {
        position: absolute;
        top: 110px;
        right: 0;
    }
    
    nav li {
        display: inline;
        margin: 0 0 0 15px;
    }
    
    nav a {
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
    }
    
    nav a:hover {
        text-decoration: underline;
        text-decoration-color: lawngreen;
    }
    
    .produtos {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1185px;
        margin: 0 auto;
        padding: 90px 0;
    }
    
    .produtos .card-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        justify-content: center;
        width: calc(33%-20px);
        margin: 0 20px;
        padding: 30px 20px;
        box-sizing: border-box;
        border: 2px solid #000000;
        border-radius: 10px;
    }
    
    .produtos li.card-box:hover {
        border-color: greenyellow;
        font-size: 40px;
        transform: translateY(15px);
    }
    
    .produtos li:active {
        border-color: hotpink;
    }
    
    .produtos h2 {
        font-size: 20px;
        font-weight: bold;
    }
    
    .produto-descricao {
        font-size: 16px;
    }
    
    footer {
        text-align: center;
        background: rgb(207, 209, 205)
    }
    
    main {
        width: 940px;
        margin: auto
    }
    
    form {
        margin: 40px 0;
    }
    
    form label {
        display: block;
        font-size: 20px;
        margin: 0 0 10px;
    }
    
    form input {
        display: block;
        margin: 0 0 20px;
        padding: 10px 25px;
        width: 50%;
    }